
.bread.wrap{
    width: 100%;
    text-align: right;
    margin-top: 10px;
    /*border-bottom: 1px solid rgb(230, 230, 230);*/
    float: right;
    box-sizing: border-box;
}

.t3-navhelper,
.breadcrumb{
    background: transparent;
}

#t3-mainnav ul > li{
	background: transparent;
}
