#cust-navigation101{
    position: absolute;
    top:85% !important;
    right: 0 !important;
    left: 0 !important;
    margin: auto;
    text-align: center
}
#navigation101{
    top:50% !important;
}
#prev101 {
	left: 20px;
}
#next101 {
	right: 20px;
}
