
.modulenav-slide {
	/* background:pink; */
}

.modulenav-slide .module-title {
	margin-bottom: 0;
}

.modulenav-slide ul {
	font-size: 18px;
}

.modulenav-slide ul li {
	
}

.modulenav-slide ul li a {
	padding-top:0; 
	padding-left: 40px;
	background: url(../../img/module-nav-side/normal.png) no-repeat 90% center;
	border-radius: 0;
	/* background-color: #ddd; */
	color:rgb(102, 102, 102);
	height: 65px;
	line-height: 65px;
	background-color: rgb(247, 247, 247);
	display: block;
}

.modulenav-slide .nav-pills > li.active > a, 
.modulenav-slide .nav-pills > li.active > a:hover, 
.modulenav-slide .nav-pills > li.active > a:focus {
	background: url(../../img/module-nav-side/act.png) no-repeat 90% center;
	background-color: #fff;
	color: rgb(15,102,119);
}
