


// 自定义类 begin -----------------------------------------------------------------------------------

// 文章内容
#t3-content {
	img {
		max-width: 100%;
		height: auto;
	}
}

// 全屏模块
.t3-full-block-1 {
	margin: 0;
	> .col-lg-12 {
  	padding: 0;
  	> .t3-module {
  		padding: 0;
  	}
  }
}


// 主页 关于我们  
.modulehome-about-us {
	.slide-desc-bg-default {
		background: transparent;
	}
}


// 侧边导航
.modulenav-slide {
	width: 100%;
	margin: 0;
	margin-top: -100px;
	.module-title  {
		width: 100%;		
		height: 100px;
		font-size: 26px;
		padding-left: 40px;
		line-height: 80px;
		color: #fff;
		background: #0f6576;
		span {
			position: relative;
			width: 100%;
			&:after {
			    font-size: 14px;
			    position: absolute;
			    left: 0;
			    bottom: -3.5em;
			    width: 250px;
			}
		}
	}
}

// 品牌介绍 侧栏导航
#Mod88 {
	.module-title {
		span {
			&:after {
		    content: "BRAND INTRODUCTION";
			}
		}
	}
}

// 加盟中心 侧栏导航
#Mod89 {
	.module-title {
		span {
			&:after {
		    content: "FRANCHISE CENTER";
			}
		}
	}
}

// 门店形象
#Mod90 {
	.module-title {
		span {
			&:after {
		    content: "STORE IMAGE";
			}
		}
	}
}

// 公司动态
#Mod91 {
	.module-title {
		span {
			&:after {
		    content: "COMPANY DYNAMICS";
			}
		}
	}
}

// 线下门店
#Mod92 {
	.module-title {
		span {
			&:after {
		    content: "OFFLINE STORE";
			}
		}
	}
}










// 页脚
.t3-footer {
	.t3-footnav {
		.t3-module {
			.module-title,
			.module-ct {
				color: #fff;
			}
			
		}
	}
}


// 自定义类 begin -----------------------------------------------------------------------------------